{% extends 'base.html' %}

{% block title %}
<title>Вход</title>
{% endblock %}

{% block body %}
<h1>Регистрация</h1>



<div class="position-absolute top-50 start-50 translate-middle d-flex ">
  <form method="POST" id="registerForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" name="username" class="form-control" id="username" required>
      <div id="emailHelp" class="form-text" style="color:white">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" required>
      <div id="errorMsg" class="invalid-tooltip">
        Please provide a valid password.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Log In">Submit</button>
    <div class="mb-3 form-check">
    </div>
  </form>
</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}